 * {
    box-sizing: border-box;
  } 
  /* Create three equal columns that floats next to each other*/
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
} 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.newspaper {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
}

div {
  font-family: Open Sans",Helvetica,Arial,sans-serif";
}

  p {
    font-family: Open Sans",Helvetica,Arial,sans-serif";
    font-size: 18px;
  }

  .img {
    border: 0px solid #ddd;
    border-radius: 4px;
    padding: 5px; 
    width: 100%;
    
  }

  .h1-image img {
    height:auto;
   
    display: block;
    margin-top:unset;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

  label {
    display: inline-block; width: 5em;
  }
  fieldset div {
    margin-bottom: 2em;
  }
  fieldset .help {
    display: inline-block;
  }
  .ui-tooltip {
    width: 210px;
  }

  .center {
    display: block;
    margin-top:unset;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }


#pageFooter div {
  float:left;
  padding-bottom: 1em;
  padding-right: 2em;

}

#pageFooter div:first-child {
  margin-left: 128px;
}

#pageFooter div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  color: #3c6b92;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#pageFooter div h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  color:#666;
  margin-bottom: 1em;
}

#pageFooter div p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #3c6b92;
  margin-bottom: 1em;
}

#pageFooter div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pageFooter div li {
  margin-bottom: 1em;
}

#pageFooter div li a:link, #pageFooter div li a:visited {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color:#666;
 
}

